@model Web.Models.IndexDto
@{
    ViewBag.Title = "BikeSegure";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1><strong>BikeSegure - FIUBA</strong></h1>
                <h2>Panel de Administracion</h2>
            </hgroup>
        </div>
    </section>
}
<script type="text/javascript" src="@Url.Content("/Scripts/home.js")"></script>
<div id="estacionamientos" data-refrescar="@Url.Action("Refresco")">
@Html.Partial("Estacionamientos",Model)
</div>
<div class="modal fade" id="dialogo">
  <div class="modal-dialog">
    <div class="modal-content">
@*      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"></h4>
      </div>*@
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
